doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(
      rel="icon" 
      href="./assets/img/icons/favicon.png",
      type="image/x-icon")
    meta(
      name="viewport", 
      content="width=device-width, initial-scale=1.0")
    meta(
      http-equiv="X-UA-Compatible", 
      content="ie=edge")
    meta(
      name='description' 
      content="Простатилен")
    title Простатилен
  body.body
    div.wrapper
      include ../includes/module/logo
      block content
      //- include ../includes/module/advantages
      include ../includes/module/pharm
      include ../includes/module/logo